@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to QuotesFinder</h1>
    <p>Here you can find or add quotes of famous people.</p>

    <br/>
    <a asp-area ="" asp-controller="Quotes" asp-action="Index">Start scrolling and find some interesting quotes for yourself</a>
    <br />
    <a asp-area="" asp-controller="Quotes" asp-action="SearchForm">Or if you already know what you want to find you can search it</a>

</div>
